<div class="editWindow">
    <mat-label class="edit-window-header">Event's condtion: </mat-label>

    <div class="condtions-wrapper">
        <div class="event-functions">
            <mat-checkbox class="check-box" [(ngModel)]="eventForEdit.notState" matTooltip="Negate event">Not operation</mat-checkbox>
            <button mat-icon-button (click)="addContions()" matTooltip="Add condtion"><mat-icon>add_card</mat-icon></button>
        </div>
        
        <div class="editWindowItem" *ngFor="let item of eventForEdit.conditions let i = index">
            <mat-form-field>
                <mat-label>Source</mat-label>
                <input matInput type="text" [(ngModel)]="item.source">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Condition</mat-label>
                <mat-select  [(ngModel)]="selectableOptions[i].selectedOption" (selectionChange)="addOperation(item, selectableOptions[i].selectedOption)">
                    <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Pattern</mat-label>
                <input matInput type="text" [(ngModel)]="item.pattern">
            </mat-form-field>
            <button mat-icon-button class="primary-color" color="warn" (click)="removeCondtion(item)"><mat-icon>delete</mat-icon></button>
        </div>
        <p style="margin: 0; padding: 0; color: red; font-weight: 500;">
            Those stars will be fixed later
        </p>
    </div>
    <div mat-dialog-actions>
        <button mat-stroked-button  mat-dialog-close>Exit</button>
        <button mat-stroked-button class="primary-button" [mat-dialog-close]="eventForEdit" >Save</button>
    </div>
    
</div>